@{
    
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title - MM Corretora de Seguros</title>

        <link href="css/style.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="scripts/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="scripts/jquery-ui-1.8.11.js"></script>

        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="page">
            
            <header>
                <div id="title">
                    <h1>MM Seguros</h1>
                </div>
                <div id="logindisplay">
                    Desenvolvido por Caio Maioral.
                </div>
                <nav>
                    <ul id="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/Sobre">Sobre nós</a></li>
                        <li><a href="/Contato">Contato</a></li>
                    </ul>
                </nav>
            </header>
            
            <section id="main">
                
                @RenderBody()

            </section>
            
            <footer></footer>

        </div>
    </body>
</html>
